<ion-view hide-nav-bar="true" overflow-scroll="true" >
  <ion-content class="vm-background-aboutusimg" scroll="false" overflow-scroll="true">
    <br/><br/>    <br/><br/>
  <!--  <center><img src="img/topnav.png" class="vm-navtop"  ng-click="overlayshow();"></center> -->
    <br/>
    <center><p class="vm_aboutus" style="font-size:32px;">ABOUT US</p></center>
    <br/> <br/><br/>
    <hr noshade class="vm-hrtagblack"/>
    <br/>
    <center><p class="vm-text">Prayer Partner connects those who<br/>love to pray with those who need <br/>  prayer,delivering the power of prayer<br/>to you,where and when you need it<br/>most.</p></center>
    <br/>
    <hr noshade class="vm-hrtagblack"/>
    <br/> <br/>
    <center>
    <p ng-click="ClickNextques()"><u>Now that you know a little about us,<br/>Help us get to know you!</u></p>
    </center>
  </ion-content>
</ion-view>


<!-- <ion-view hide-nav-bar="true" overflow-scroll="true" ng-show="show" ng-class="navigationclass">
<ion-content>

  <img src="img/menu.jpg" class="vm_navwidth"/>
  <ion-list class="vm_navliststyle">
    
    <ion-item class="vm-list-color vm-item-listitem" menu-close ng-click="aboutus()">
          <center>About Us</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close ng-click="PrayerClicked()">
          <center>Let Us Pray</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close>
          <center>Offer Prayer</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close>
          <center>Request Prayer</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close ng-click="authorprofile()">
          <center>Author Profile</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close ng-click="userprofile()">
          <center>User Profile</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem" menu-close ng-click="Logout()">
          <center>Log Out</center>
          <hr noshade class="vm-hrtaglist"/>
    </ion-item>
    <ion-item class="vm-list-color vm-item-listitem">
       <center>
       <img src="img/bottomnav.png" class="vm-navbottom" ng-show="show" ng-click="overlayhide();">
       </center>
    </ion-item>
 </ion-list>
</ion-content>
</ion-view> -->


   



