<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-balance vm_bgimgcover" overflow-scroll="true">

    <div class="vm_bgblack" ng-click="goback()">
    <p class="icon ion-ios-arrow-left vm-iconback"></p>
    </div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

 
    <div class="row">
      <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize" ng-click="balanceplay()">Prayer to God of Peace,Order,Stability & Balance<i class="vm-italictext"> by keli</i>....2:07</div>
      <div class="col  col-10">
        <button class="button button-small button-outline button-light vm-playlinesize" ng-click="balanceplay()">Start</button>
      </div>
      <div class="col  col-10"></div>
    </div>
    <hr noshade class="vm-hrtaglong"/>

    <div class="row">
      <div class="col col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">I Want to Feel Whole Again<i class="vm-italictext"> by sharon</i>....1:34</div>
      <div class="col  col-10 ">
        <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
      </div>
      <div class="col  col-10"></div>
    </div>
    <hr noshade class="vm-hrtaglong"/>

    <div class="row">
      <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">Prayer to Stay Connected to My Source, God<i class="vm-italictext"> by Betty</i>....1:09</div>
      <div class="col  col-10 ">
        <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
      </div>
      <div class="col  col-10"></div>
    </div>
    <hr noshade class="vm-hrtaglong"/>

    <div class="row">
      <div class="col col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">Be the Great Editor of My Life<i class="vm-italictext"> by Bill</i>....1:57</div>
      <div class="col  col-10 ">
        <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
      </div>
      <div class="col  col-10"></div>
    </div>
    <hr noshade class="vm-hrtaglong"/>

  </ion-content>
</ion-view>
