
<ion-view class="modal" overflow-scroll="true">
<ion-content overflow-scroll="true">
<div>
<p class="icon ion-close-round vm-popupclose" ng-click="modal.hide()"></p>
<img class="vm_readprayerimg" src="img/readprayer.jpg"/>
</div>
	 <ion-scroll class="vm-scrolltext">

<center>
<p class="vm_readprayer">

Heavenly Father, 
I thank you that I can come to You and ask for help.  And I’m asking You for help right now because I just need an idea.I’m just out of ideas.  I don't know which way to turn, what to do next.I think I should just put one foot in front of the other, but like you have to point your foot in a certain direction and I don't even know which direction to point it towards.So, Lord I’m asking for divine guidance, 
that You give me ideas and direction.And that You open my eyes so that I can recognize that direction, whether it comes through a person or a song or a feeling in my gut.Lord, and I ask that even if it's unknown territory that You would give me peace and passion and hope associated with the idea that I get.  Lord, I believe that You are big enough to do this and I surrender my own fears and my own plans and my own baggage to be open for new things.

In Jesus’ lovely name I pray,
Amen.

</p>
</center>
 </ion-scroll>


  </ion-content>
</ion-view>






