<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-guidance vm_bgimgcover" overflow-scroll="true">
  <div class="vm_bgblack" ng-click="goback()">
  <p class="icon ion-ios-arrow-left vm-iconback"></p>
  </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="row vm-startbtn">
    <div class="col col-67 col-offset-10 vm-text-white vm-playlinesize" ng-click="guidanceaudioplay()">Out of ideas and ready for Yours,Lord <i class="vm-italictext">by kimberly....1.14</i></div>
    <div class="col col-10">
  	<button class="button button-small button-outline button-light vm-playlinesize" ng-click="guidanceaudioplay()">Start</button>
    </div>
    <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

  <div class="row vm-startbtn">
    <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">How do I know Which Way To Go?<i class="vm-italictext"> by Marge....1.43</i></div>
    <div class="col col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  <div class="row vm-startbtn">
    <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">God, Please Guide Me In My Next Steps<i class="vm-italictext"> by Rachelle....1.55</i></div>
    <div class="col col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  <div class="row vm-startbtn">
    <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Am I In the Right Carrer, God?<i class="vm-italictext"> by Keli....1.27</i></div>
    <div class="col col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  </ion-content>
</ion-view>












