<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-love vm_bgimgcover" overflow-scroll="true">
  <div class="vm_bgblack" ng-click="goback()">
  <p class="icon ion-ios-arrow-left vm-iconback"></p>
  </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="row">
  <div class="col col-67 col-offset-10 vm-text-white vm-playlinesize" ng-click="loveplay()">I Want to Experience Your Love,God<i class="vm-italictext"> by Arlene</i>....1:48</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm-playlinesize" ng-click="loveplay()">Start</button>
  </div>
  <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

<div class="row">
  <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Heartbreak<i class="vm-italictext"> by Rachelle</i>....1:22</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize" >Start</button>
  </div>
  <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

<div class="row">
  <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Searching for God's Best for Me<i class="vm-italictext"> by Kimberly</i>....2:11</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
  </div>
  <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

<div class="row">
  <div class="col col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">My Prayer for Purity as I Date<i class="vm-italictext"> by Jeanette</i>....1:21</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
  </div>
  <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

  </ion-content>
</ion-view>






