<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-marriage vm_bgimgcover" overflow-scroll="true">
  <div class="vm_bgblack" ng-click="goback()">
  <p class="icon ion-ios-arrow-left vm-iconback"></p>
  </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="row">
  <div class="col  col-67 col-offset-10 vm-text-white" ng-click="marriageplay()">A Husband's Prayer for his Marriage and Wife<i class="vm-italictext"> by Bill</i>....0.53</div>
  <div class="col  col-10 ">
    <button class="button button-small button-outline button-light" ng-click="marriageplay()">Start</button>
  </div>
    <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

<div class="row">
  <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">A Wife's Prayer for Husband<i class="vm-italictext"> by kimberly</i>....1:07</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
  </div>
    <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

<div class="row">
  <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">Single, Never Married and Ready for that to End<i class="vm-italictext"> by Mary Claire</i>....1:23</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
  </div>
    <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>
 
<div class="row">
  <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize vm_disablecolor">Bless Our Engagement<i class="vm-italictext"> by kelli</i>....1:32</div>
  <div class="col  col-10">
    <button class="button button-small button-outline button-light vm-playlinesize vm_disablecolor">Start</button>
  </div>
    <div class="col  col-10"></div>
</div>
  <hr noshade class="vm-hrtaglong"/>

  </ion-content>
</ion-view>






