
<ion-view class="modal" overflow-scroll="true">
<ion-content overflow-scroll="true">
<div>
<p class="icon ion-close-round vm-popupclose" ng-click="modal.hide()"></p>
<img class="vm_readprayerimg" src="img/marriageread.jpg"/>
</div>
	 <ion-scroll class="vm-scrolltext">

<center>
<p class="vm_readprayer">

I pray for my marriage, for my wife, and myself.  Lord, that we would be what You need us to be to each other.  You say that we should lay down our lives for one another and that it’s my part to sacrifice for my wife; it’s my wife’s part to sacrifice for me.  I pray right now for myself, Lord.  That my position and my duty is to provide for her a shelter, a safety, an umbrella, where she can feel free to manifest the gifts that You have given her.  I pray that the temptations and things that come to all of us would be deflected.  I pray, Father that I would be able to realize when attacks are coming and give my wife good advice about where she needs to go.  And just the wisdom to give her guidance and support in everything that she does and needs.

Amen.


</p>
</center>
 </ion-scroll>


  </ion-content>
</ion-view>






