
<ion-view class="modal" overflow-scroll="true">
<ion-content overflow-scroll="true">
<div>
<p class="icon ion-close-round vm-popupclose" ng-click="modal.hide()"></p>
<img class="vm_readprayerimg" src="img/revelationread.jpg"/>
</div>
	 <ion-scroll class="vm-scrolltext">

<center>
<p class="vm_readprayer">

Lord, You say in the Bible that Your plans for me are for good and not for evil, to give us a hope and a future.  You have taught me that when I do it for myself, I will have some success, but when I allow You to do it, You will place me in realms I never dreamed of.  And I have seen that, Lord. You are not partial to certain people.  You are good to everyone all over the world.  So, Lord, I pray right now, that I will get a deep understanding of this fact and that I will turn my life totally over to You.  I pray for understanding that real fulfillment in life comes from doing Your plan for my life.  Open my eyes to this truth, Lord and may life's greatest joys come to me as I do it. 

In the name of Jesus Christ, 
AMEN.

</p>
</center>
 </ion-scroll>


  </ion-content>
</ion-view>






