<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-revelation vm_bgimgcover" overflow-scroll="true">
  <div class="vm_bgblack" ng-click="goback()">
  <p class="icon ion-ios-arrow-left vm-iconback"></p>
  </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col  col-67 col-offset-10 vm-text-white vm-playlinesize" ng-click="revelationplay()">Prayer for a Deep Understanding of Your Goodness<i class="vm-italictext"> by Betty</i>....1:00</div>
    <div class="col  col-10">
    	<button class="button button-small button-outline button-light vm-playlinesize" ng-click="revelationplay()">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  <div class="row">
    <div class="col  col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Show Me a Sign God,that you are Real<i class="vm-italictext"> by Rachelle</i>....1:54</div>
    <div class="col  col-10">
      <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  <div class="row">
    <div class="col  col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Show Me My Wrongdoings, God So I can Make Things Right<i class="vm-italictext"> by Arlene</i>....2:13</div>
    <div class="col  col-10">
      <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>
 
   <div class="row">
    <div class="col  col-67 col-offset-10 vm-text-white vm_disablecolor vm-playlinesize">Fill Me With Hope,God<i class="vm-italictext"> by Julie</i>....1:40</div>
    <div class="col  col-10">
      <button class="button button-small button-outline button-light vm_disablecolor vm-playlinesize">Start</button>
    </div>
    <div class="col  col-10"></div>
  </div>
  <hr noshade class="vm-hrtaglong"/>

  </ion-content>
</ion-view>






