<ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-surveyimg vm_bgimgcover" scroll="false" overflow-scroll="true">
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<center>
     <form name="surveyques1">

      <h5 class="vm-quescolor">Do you believe in prayer?</h5>
      <h6 class="vm-quescolor">(Rate On a Scale of 1-5)</h6>
<br/><br/>

<div class="range" style="width:85%;">
  <input type="range" id="range"  min="0" max="80" step="20" value="0" >
</div>
<br/>
<div class="row vm_numalign">
  <div class="col-20 vm-quescolorbold">1</div>
  <div class="col-20 vm-quescolor">2</div>
  <div class="col-20 vm-quescolorbold">3</div>
  <div class="col-20 vm-quescolor">4</div>
  <div class="col-20 vm-quescolorbold">5</div>
</div>

<div class="row vm-ansalign">
  <div class="col-20 vm-quescolor">Not Sure</div>
  <div class="col-20"></div>
  <div class="col-20 vm-quescolor">Could Be<br/>Persuaded</div>
  <div class="col-20"></div>
  <div class="col-20 vm-quescolor">Absolutely</div>
</div>

<button class="button button-light vm-btn-width" ng-click="Continue()">
  Next
</button>

</form>
</center>

  </ion-content>
</ion-view>














<!-- <ion-view hide-nav-bar="true" overflow-scroll="true">
  <ion-content class="vm-background-surveyimg vm_bgimgcover" scroll="false" overflow-scroll="true">
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<center>
     <form name="surveyques1">

      <h5 class="vm-quescolor">Do you believe in prayer?</h5>
      <h6 class="vm-quescolor">(Rate On a Scale of 1-5)</h6>
<br/><br/>

 <input id="range" type="range" min="0" max="80" value="0" step="20" list="vol">

  <datalist id="vol">
   <option>0</option>
   <option>20</option>
   <option>40</option>
   <option>60</option>
   <option>80</option>
  </datalist>

  <div class="row vm_numalign">
  <div class="col-20 vm-quescolorbold">1</div>
  <div class="col-20 vm-quescolor">2</div>
  <div class="col-20 vm-quescolorbold">3</div>
  <div class="col-20 vm-quescolor">4</div>
  <div class="col-20 vm-quescolorbold">5</div>
</div>

<div class="row vm-ansalign">
  <div class="col-20 vm-quescolor">Not Sure</div>
  <div class="col-5"></div>
  <div class="col-20 vm-quescolor">Could Be<br/>Persuaded</div>
  <div class="col-5"></div>
  <div class="col-20 vm-quescolor">Absolutely</div>
</div>

<button class="button button-light vm-btn-width" ng-click="Continue()">
  Next
</button>

</form>
</center>

  </ion-content>
</ion-view> -->